/* 

.formacion-container {
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

.formacion-container {
    background-color: #EAF2FD;
    padding: 15px 9%;
    padding-bottom: 100px;
}

.formacion-container .titulo-formacion {
    text-align: center;
    padding-bottom: 15px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #464646;
    margin-top: 2rem;
}

.formacion-container .box-skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 80px 80px;
    padding-top: 70px;
}

.formacion-container .box-skills .box {
    background-color: #ffffff;
    text-align: center;
    padding: 50px 20px;
    border-radius: 10px;
}

.formacion-container .box-skills .box img {
    height: 100px;
}

.formacion-container .box-skills h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #464646;
}

.formacion-container .box-skills p {
    font-size: 1rem;
    color: #464646;
    font-weight: 500;
}

.formacion-container .box-skills h3 {
    position: absolute;
    margin-top: 3.5rem;
}

.formacion-container .box-skills p {
    position: absolute;
    margin-top: 5.5rem;
}

*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-fundo-sec: #FFFFFF;
   --cor-bg-sec: #EAF2FD;
   --cor-de-link: #000;
   --cor-de-text: #464646;
   --cor-btn: #2A7AE4;
   --cor-border: #C8C8C8;
}

ol, ul,li {
    list-style: none;
}

section.academic {
    padding: 32px;
    background-color: #EAF2FD;
}

.academic__title {
    text-align: center;
}

.academic__courses {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}

.academic__courses__box {
    display: flex;
    flex-direction: column;
}

.academic__courses__list {
    padding: 0;
}

.academic__courses__item__img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-de-fundo-sec);
    width: 296px;
    min-width: 100%; 
    max-width: 50%;
    height: 118px;
    border-radius: 10px;
}

.academic__courses__item__img img {
    width: 84px;
    height: 58px;
}

.academic__courses__item__title h4 {
    margin: 8px 0;
    font-size: 16px;
}

.academic__courses__item__subtitle p {
    margin: 0;
    font-size: 14px;
}

/*Responsive*/

@media (min-width: 768px) {
    section.academic {
        padding: 32px;
    }
    .academic__courses {
        flex-direction: row;
        gap: 16px;
        justify-content: center;
    }
    .academic__courses__item__img {
        width: 224px;
        min-width: 100%;
        max-width: 100%;
    }
}

@media (min-width: 980px) {
    section.academic {
        padding: 82px;
    }
    .academic__title {
        font-size: 32px;
    }
    .academic__courses__item__img {
        width: 300px;
        height: 286px;
    }
    .academic__courses__item__img img {
        width: 192px;
        height: 130px;
    }
}
